
body {

}
img, video, canvas, .img, [role="img"] {
	opacity: 0.25 !important;
	transition: all 1s ease-in !important;
	-webkit-transition: all 1s ease-in !important;
	filter: grayscale(100%);
	webkit-filter': grayscale(100%);
}

a:hover *, img:hover,
video:hover, canvas:hover,
.img:hover, [role="img"]:hover {
	opacity: 1 !important;
	filter: grayscale(0%);
	webkit-filter': grayscale(0%);
}

p {
	font-size: 15px !important;
	line-height: 1.38 !important;
}