
body {

}

img, video, canvas, .img, [role="img"], a div::after {
	opacity: 0.25 !important;
	transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	filter: grayscale(100%) !important;
	webkit-filter: grayscale(100%) !important;
}

video, canvas {
	transition: all 10000s ease-in !important;
	-webkit-transition: all 10000s ease-in !important;	
}


a:hover img, img:hover,
video:hover, canvas:hover,
.img:hover, [role="img"]:hover,
a:hover div::after {
	opacity: 1 !important;
	filter: grayscale(0%);
	webkit-filter: grayscale(0%);
	transition: all 1s ease-in !important;
	-webkit-transition: all 1s ease-in !important;
}




p {
	font-size: 15px !important;
	line-height: 1.38 !important;
}